fieldset{
    width:60%;
    margin: 100 px auto;
    padding: 20px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(90deg, red,orange);
}
legend{
      background: linear-gradient(90deg, red,orange);
      border-radius: 30px;
      padding:10px;
}
input[type="text"]{
    outline: none;
}