h1,h2,h3,h4,h5,h6{
    color: rgba(205, 44, 44, 0.827);
    background-color: yellow;
    width: 30%;
    display: block;
    text-align:center;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 00px 40px;
   box-shadow: 0px 0px 20px pink;
}