*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 100vh;
    
}
.header{
    height: 15%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header>img{
    width: 10vw;
}
.menu{
    margin-right: 20px ;
    display: flex;
    gap: 20px;
}
.menu>a{
    font-size: 20px;
    text-decoration: none;
}
.menu>a:hover{
    color: orange;
}
.main{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.mobile{
    border: 1px solid greenyellow;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
.mobile>img{
    width: 20vw;
}
.footer{
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 5%;
    color: white;
    margin-top: 10px;
}