/*element selectors*/
p{
border: 1px solid gray;
width: 20%;
display: inline-block;
margin:30px ;
border-radius:20px;
padding: 30px;
text-align:justify;
font-family: 'Times New Roman';
color: black;
box-shadow: 0px 0px 20px;
}
/*class selector*/
.c1{
    background: linear-gradient(90deg,red,green);  
}
#id1{
    background: linear-gradient(45deg,yellow, green);
}
.c2{
    background: linear-gradient(135deg,blue,orange);
}